name: CI/CD JanSamvaad 

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code 
      uses: actions/checkout@v4
    
    - name: Setup nodejs
      uses: actions/setup-node@v4
      with:
        node_version: '22.11.00'

    
